/* Highlight Actions/Passives missing a category */
li.item.action.flexrow.pyxie-missing-category {
  color: orange;
}

li.item.action.flexrow.pyxie-world-link {
  color: red;
}

.sheet-tabs .tabs a.list-row.pyxie-world-link {
  color: red;
}

.form-group.pyxie-world-link[data-drop-zone="self-applied-effect"] {
  label {
    color: red;
  }
  a.content-link {
    color: red;
  }
}

.rule-form.pyxie-world-link h3 {
  color: red;
}

sheet-body .content-link.pyxie-world-link[data-uuid] {
  color: red;
}
